﻿<!DOCTYPE html>
<html>
<head>
    <title>Phần mềm quản lý checkin sự kiện </title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/loading.css")" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #E9E9EE;height:100%;">
    <div class="navbar navbar-inverse navbar-fixed-top menu-bar">
        @Html.Action("Header", "Common")
    </div>
    <div class="container body-content" style=" margin:50px auto 0px auto;width:1300px; background-color: #FFF;min-height:calc(100%);" id="main-content">
        @RenderBody()
    </div>
    <div id="dialog-system"></div>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/Main.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/viewscript/User.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/viewscript/Invitee.js")" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        main_frame.init();
    </script>
    @RenderSection("Script", false)
</body>
</html>
