﻿@using CheckinV02.Models
@model UserHeaderViewModel
@{
    Layout = null;
}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="main-home" controller="InviteEvent" action="Index" href="javascript:void(0);">Check in online</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" id="lst-menu-items">
            @if (Model.IsUserManager)
            {
                <li><a controller="User" action="Index" href="javascript:void(0);">Tài khoản</a> </li>
            }
            @if (Model.IsInviteeManager)
            {
                <li><a controller="RegisteredInvitee" action="Index" href="javascript:void(0);">Khách mời</a></li>
            }
            <li><a controller="InviteEvent" action="Index" href="javascript:void(0);">Checkin</a></li>
            @if (Model.IsEventManager)
            {
                <li><a controller="Event" action="Index" href="javascript:void(0);">Sự kiện</a></li>
                <li><a controller="CheckInTimer" action="Index" href="javascript:void(0);">Gia hạn CheckIn</a></li>
            }
            <li><a controller="Statistic" action="Index" href="javascript:void(0);">Thống kê</a></li>
            <li><a href="/Account/LogOff">Thoát</a></li>
        </ul>
    </div>
</div>