﻿@using CheckinV02.Models
@model UserUpdateModel
@{
    Layout = null;
}
<div id="frmAddNewUser" style="margin-top:25px;">
    <div class="form-group col-md-12">
        <label for="txtUsername" class="control-label" >Tên đăng nhập <span style="color:Red;">*</span></label>
        <div class="input-group">
            <input id="txtUsername" class="form-control text-input" name="username" type="text" />
        </div>
        <div class="show-message"></div>
    </div>
    <div class="form-group col-md-12">
        <label for="txtPassword" class="control-label">Mật khẩu <span style="color:Red;">*</span></label>
        <div class="input-group">
            <input id="txtPassword" class="form-control text-input" name="password" type="password" />
        </div>
        <div class="show-message"></div>
    </div>
    <div class="form-group col-md-12">
        <label for="txtReTypePassword" class="control-label">Nhập lại mật khẩu <span style="color:Red;">*</span></label>
        <div class="input-group">
            <input id="txtReTypePassword" class="form-control text-input" name="password" type="password" />
        </div>
        <div class="show-message"></div>
    </div>
    <div class="form-group col-md-12">
        <label for="txtReTypePassword" class="control-label">Vai trò</label><br />
        <div class='input-group'>
            @foreach (var item in Model.AllRole)
            {
                <input type="checkbox" name="grRole" renum="@item.Key" />  @item.Value <br />
            }
        </div>
        <div class="show-message"></div>
    </div>
    <hr />
    <div class="actions col-md-12">
        <button id="btnSave" type="button" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
        <button id="btnCancel" type="button" class="btn btn-primary"><i class="icon-refresh"></i>&nbsp;Reset</button>
        <button id="btnClose" type="button" class="btn btn-primary"><i class="icon-remove"></i>&nbsp;Đóng</button>
    </div>
</div>
