﻿@using CheckinV02.Models
@model UserIndexModel
@{
    Layout = null;
}
<h1 style="padding-left:15px;">Quản lý tài khoản</h1>
<div class="panel panel-search" id="frmSearchUser">
    <div class="panel-heading"><i class="icon-cogs"></i> &nbsp; Tìm kiếm thông tin người dùng</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <div class="input-group">
                    <input id="txtSearchText" name="SearchText" type="text" class="form-control" placeholder="--Thông tin tìm kiếm--" />
                </div>
            </div>
            <div class="col-md-3">
                <button id="btnSearch" style="margin-left:3px;" class="btn btn-success" type="button"><i class="icon-search"></i>&nbsp;Tìm kiếm</button>
                @if (Model.IsAddNewUser)
                {
                    <button id="btnAddNew" class="btn btn-success" type="button"><i class="icon-plus"></i>&nbsp;Thêm mới</button>
                }
            </div>
        </div>
    </div>
</div>
<div class="panel panel-result" id="SearchUser">
    <div class="panel-heading"><i class="icon-cogs"></i> &nbsp; Danh sách người dùng</div>
    <div class="panel-body">
    </div>
</div>
<div class="panel panel-action hide" id="AddNewUser">
    <div class="panel-heading"><i class="icon-cogs"></i> &nbsp; Thêm / sửa người dùng</div>
    <div class="panel-body">
    </div>
</div>
<div class="panel panel-action hide" id="LockTemporaryUser">
    <div class="panel-heading"><i class="icon-cogs"></i> &nbsp; Khóa tài khoản tạm thời</div>
    <div class="panel-body">
    </div>
</div>
<script type="text/javascript">
    user_index.init();
</script>


